<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockgetzone</name>
	<displayName><![CDATA[Getzone chat block]]></displayName>
	<version><![CDATA[1]]></version>
	<description><![CDATA[Adds a block containing Getzone chat]]></description>
	<author><![CDATA[Sebastian Mäki]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
